@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --right-padding: 5px;
    --left-padding: 5px;
    --bottom-padding: 10px;
    --bottom-gap: 10px;
    --left-width: 25%;
    --right-width: calc(100% - var(--left-width));
    --right-scrollbar-adjustment: 2px;
}

.container {
    height: 100vh;
    width: 100%;
}

.top {
    padding: 5px;
    height: 64px;
    width: 100%;
    gap: 10px;
}

.top .hleft {
    width: 25%;
    height: 100%;
}

.top .hleft .logo {
    height: 100%;
    padding-left: 10px;
}

.top .hleft .logo img {
    width: 120px;
}

.top .hleft .home {
    width: 100%;
    height: 100%;
    gap: 15px;
}

.top .hleft .home span {
    padding: 14px;
}

.top .hright {
    width: 75%;
    height: 100%;
}

.top .hright a {
    text-decoration: none;
}

.top .hright .reach-buttons {
    gap: 15px;
    width: 100%;
    height: 100%;
    margin: 0 10px;
}

.top .hright .reach-buttons a {
    width: 80px;
    height: 90%;
    padding: 5px;
}

.top .hright .account-buttons {
    gap: 15px;
    height: 100%;
    font-size: 14px;
}

.top .hright .account-buttons a:first-child {
    width: 80px;
    height: 90%;
    padding: 5px;
}

.top .hright .account-buttons a:nth-child(2) {
    width: 110px;
    height: 90%;
    padding: 5px;
}

.bottom {
    padding: var(--bottom-padding);
    gap: var(--bottom-gap);
    min-height: 0;
}

.bottom .left {
    height: 100%;
    width: var(--left-width);
}

.bottom .left .library {
    width: 100%;
    min-height: 0;
}

.bottom .left .library .heading {
    font-size: 13px;
    width: 100%;
}

.bottom .left .library .heading div:nth-child(1) {
    padding: 23px 14px;
    gap: 15px;
}

.bottom .left .library .heading div:nth-child(1) img {
    width: 30px;
}

.bottom .left .library .heading div:nth-child(2) {
    width: fit-content;
    padding-right: 20px;
}

.bottom .left .library .heading div:nth-child(2) img {
    display: none;
}

.bottom .left .library .songs-list {
    padding: 10px 5px;
    row-gap: 10px;
    overflow-y: auto;
    min-height: 0;
}

.bottom .left .library .songs-list .song-card {
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
}

.bottom .left .library .songs-list .song-card.selected {
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
}

.bottom .left .library .songs-list .song-card span {
    height: 100%;
    width: 100%;
    gap: 5px;
}

.bottom .left .library .songs-list .song-card span img {
    margin: 5px;
}

.songs-list .song-card span .song-info,
.songs-list .song-card span .play-button {
    padding: 5px;
}

.songs-list .song-card span p:nth-child(3).popover {
    top: 80%;
    z-index: 10000;
    transform: translateX(30%);
    padding: 8px 12px;
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    font-size: 10px;
}

.songs-list .song-card span>div.song-info:hover~.popover {
    opacity: 1;
    pointer-events: auto;
}



.songs-list .song-card span .song-info p {
    min-width: 0;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.songs-list .song-card span .song-info p:nth-child(1) {
    font-size: 12px;
}

.songs-list .song-card span .song-info p:nth-child(2),
.songs-list .song-card span .play-button {
    font-size: 10px;
}

.songs-list .song-card span .play-button {
    gap: 5px;
}

.bottom .left .left-footer {
    font-size: 10px;
    bottom: 0;
    flex-wrap: wrap;
    gap: 13px;
    width: 100%;
    padding: 14px;
}

:root {
    --height-of-playlist-card: 250px;
    --width-of-playlist-image: 150px;
    --playbar-height: 64px;
    --playbar-bottom-distance: calc(var(--bottom-padding) + var(--right-padding));
}

.bottom .right {
    height: 100%;
    width: var(--right-width);
    padding: var(--right-padding);
}

.bottom .right .playlists {
    height: 100%;
    width: 100%;
    min-height: 0;
}

.bottom .right .playlists .heading {
    font-size: 13px;
    width: 100%;
    padding: 23px 14px;
    gap: 15px;
}

.bottom .right .playlists .heading img {
    width: 30px;
}

.bottom .right .playlists .playlists-list {
    padding: 10px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--width-of-playlist-image), calc(var(--width-of-playlist-image) + 10px)));
    justify-content: space-evenly;
    overflow-y: auto;
    grid-auto-rows: max-content;
}

.bottom .right .playlists .playlists-list .playlist-card {
    padding: 5px;
    gap: 5px;

    &:hover {
        --background-color: 42, 41, 41;
        background: linear-gradient(to top,
                rgba(var(--background-color), 1) 0%,
                rgba(var(--background-color), 0.5) 50%,
                rgba(var(--background-color), 0) 100%);
    }
}

.bottom .right .playlists .playlists-list .playlist-card .pt-top {
    height: var(--width-of-playlist-image);
    width: var(--width-of-playlist-image);
}

.bottom .right .playlists .playlists-list .playlist-card .pt-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bottom .right .playlists .playlists-list .playlist-card .pt-top img.play-btn:nth-child(2) {
    --width-height: 3em;
    --right-bottom-distance: 10px;
    width: var(--width-height);
    height: var(--width-height);
    right: var(--right-bottom-distance);
    bottom: var(--right-bottom-distance);
    transform: translateY(150%);
    opacity: 0;
}

.bottom .right .playlists .playlists-list .playlist-card .pt-top img.play-btn:nth-child(2).active {
    animation: slide-up 0.4s ease-out forwards;
}

.bottom .right .playlists .playlists-list .playlist-card .pt-bottom {
    width: 100%;
    min-height: calc(var(--height-of-playlist-card) - var(--width-of-playlist-image) -5px);
    padding: 5px;
    gap: 5px;
}

.bottom .right .playlists .playlists-list .playlist-card .pt-bottom h4,
.bottom .right .playlists .playlists-list .playlist-card .pt-bottom p {
    padding: 0 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom .right .playlists .playlists-list .playlist-card .pt-bottom h4 {
    -webkit-line-clamp: 1;
}

.bottom .right .playlists .playlists-list .playlist-card .pt-bottom p {
    font-size: 10px;
}

.bottom .right .playlists .playlists-list .playlist-card .pt-bottom p:nth-child(1) {
    min-height: calc(1.2em * 2);

}

.bottom .right .playlists .playlists-list .playlist-card .pt-bottom p.totalDuration {
    text-align: right;
}

.bottom .right .playlists .playlists-list .playlist-card .pt-bottom .info-and-play-btn .playlist-info {
    gap: 5px;
}

.bottom .right .playlists .playlists-list .playlist-card .pt-bottom .info-and-play-btn img {
    margin: 2px;
}

.bottom .playbar {
    width: calc(var(--right-width) - var(--bottom-gap) - (3*var(--bottom-padding)) - var(--right-padding) + var(--right-scrollbar-adjustment));
    right: calc(2*var(--bottom-padding));
    height: var(--playbar-height);
    background-color: black;
    bottom: var(--playbar-bottom-distance);
    transform: translateY(150%);
    opacity: 0;
}

.bottom .playbar.active {
    animation: slide-up 0.4s ease-out forwards;
}

.bottom .playbar .upper-pb {
    width: 100%;
    height: 70%;
    padding: 5px 25px;
}

.bottom .playbar .upper-pb>* {
    flex: 0 0 33.333%;
    max-width: 33.3333%;
    width: fit-content;
}

.bottom .playbar .upper-pb div:nth-child(1) p {
    padding: 0px 5px;
}

.bottom .playbar .upper-pb>* p {
    font-size: 11px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
}

.bottom .playbar .upper-pb div:nth-child(1) p.artist-name {
    font-size: 11px;
    white-space: nowrap;
    display: inline-block;
    animation: scroll-text 15s linear infinite;
}

@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.bottom .playbar .lower-pb {
    width: 100%;
    height: 30%;
    padding: 10px;
    padding-top: 0;
}

.bottom .playbar .lower-pb .seekbar {
    width: calc(100% - 30px);
    height: 2px;
}

.bottom .playbar .lower-pb .seekbar .seekbar-ball {
    width: 12px;
    height: 12px;
    left: 0;
    z-index: 1000;
    cursor: grab;
}

.bottom .playbar .lower-pb .seekbar .seekbar-ball:active {
    cursor: grabbing;
}

/* ---------------HAMBURGER------------------ */
:root {
    --icon-size: 48px;
    --line-color: #fff;
    --bg-fill: transparent;
    --bg-radius: 12px;
    --line-width: 1.2;
    --transition: 220ms ease;
}

.top .hleft .home span:nth-child(3) {
    display: none;
    padding: 5px;
}

#toggleMenu:focus-visible {
    outline: 2px solid #6aa9ff;
    outline-offset: 2px;
}


.hamburger-svg {
    width: var(--icon-size);
    height: var(--icon-size);
    display: block;
}

.hamburger-line {
    transform-origin: 12px 12px;
    transition: transform var(--transition), opacity var(--transition);
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: var(--line-width);
}

.line--top {
    transform: translateY(-5px);
}

.line--middle {
    transform: translateY(0);
}

.line--bottom {
    transform: translateY(5px);
}

#toggleMenu.active .line--top {
    transform: rotate(45deg);
}

#toggleMenu.active .line--middle {
    opacity: 0;
    transform: scaleX(0.2);
}

#toggleMenu.active .line--bottom {
    transform: rotate(-45deg);
}

.hamburger-bg {
    fill: var(--bg-fill);
    rx: var(--bg-radius);
}

/* ------------------------MENU LIST------------------------- */
.menu-list {
    top: 64px;
    z-index: 10000;
    padding: 15px;
    width: 100%;
    height: calc(100% - 64px);
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
}

.menu-list.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.menu-list button {
    border: none;
    margin: 10px;
    padding: 4px 25px;
    font-size: 16px;
    font-weight: bold;
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
}

.menu-list button:hover {
    transform: scale(1.05) translateX(-3px);
}


.menu-list>button:nth-child(1),
.menu-list>button:nth-child(2) {
    font-size: 20px;
}

.menu-list>div:nth-child(3) div::after {
    content: '___';
    margin: 0 35px;
}

/* ------------------------ANIMATIONS------------------------- */
@keyframes slide-up {
    from {
        transform: translateY(150%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* -----------------------RESPONSIVENESS---------------------------- */
@media screen and (max-width: 1024px) {
    :root {
        --left-width: 35%;
    }

    .top .hleft {
        width: 35%;
    }

    .top .hright {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .top .hleft {
        width: 100%;
    }

    .top .hleft .home span:nth-child(1),
    .top .hleft .home span:nth-child(2) {
        display: none;
    }

    .top .hleft .home span:nth-child(3) {
        display: flex;
    }

    .bottom {
        flex-direction: row-reverse;
    }

    :root {
        --left-width: 55%;
    }

    .hright {
        display: none;
    }

    .bottom .playbar {
        width: calc(var(--right-width) + var(--left-width) - (2 * var(--bottom-padding)) - (2 * var(--right-padding)));
        right: calc(var(--bottom-padding) + var(--right-padding));
    }
}

@media screen and (max-width: 500px) {
    :root {
        --height-of-playlist-card: 230px;
        --width-of-playlist-image: 130px;
    }

    .bottom .right {
        width: calc(100% - var(--bottom-gap));
    }

    .bottom .left {
        width: 100%;
        display: none;
    }

    .bottom .right .playlists .heading img,
    .bottom .left .library .heading div img {
        width: 24px;
    }

    .heading div h2,
    .heading h2 {
        font-size: 18px;
    }

    .bottom .left .library .heading div:nth-child(2) img {
        display: flex;
    }

    .bottom .right .playlists .playlists-list .playlist-card .pt-top img.play-btn:nth-child(2) {
        transform: translateY(0);
        opacity: 1;
        animation: none !important;
    }

    .bottom .right .playlists .playlists-list .playlist-card .pt-top img.play-btn:nth-child(2).active {
        animation: none !important;
    }
}